<nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">  
  <%= link_to "Question groups".html_safe, question_groups_path, class: "me-3 py-2 text-dark text-decoration-none" %>
  <%= link_to "Integrations".html_safe, integrations_path, class: "me-3 py-2 text-dark text-decoration-none" %>
  <%= link_to "Close".html_safe, destroy_user_session_path, method: :delete, class: "me-3 py-2 text-dark text-decoration-none" %>
</nav>