<%= form_tag(url, method: method, multipart: true, "data-ajax": "false", remote: true) do %>
  <div class="row">
    <div class="container card-group">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"></h5>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="control-label">Name</label>
                <%= text_field_tag(:name, model&.name, class:'form-control', required: true) %>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label class="control-label">Description</label>
                <%= text_area_tag(:description, model&.description, size: "56x4", class:'form-control', placeholder:'') %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <form role="form">
      <div class="col-md-12">
        <div class="text-center">
          <%= submit_tag footer_text, :class => "btn btn-success btn-lg", :disable_with => "Porfavor espere..." %>
        </div>
      </div>
    </form>
  </div>

<% end %>