<div class="container">
  <div class="row">
    <div class="col-sm-9">
      <h1>Integrations</h1>
      <div class="panel panel-danger">
        <div class="panel-heading">
          <h3 class="panel-title"></h3>
        </div>
        <div id="table-container" class="panel-body"></div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="text-center">
        <button id="new-group-button" type="button" class="btn btn-primary">New integration</button>
        <hr>
      </div>

      <%= radio_button_list(
        list: @statuses, 
        title: "Status",
        field_name: 'status_search',
        checked_id: 'any')
      %>

      <%= radio_button_list(
        list: @sources, 
        title: "Source",
        field_name: 'source_search',
        checked_id: 'any')
      %>
    </div>
  </div>
</div>

<%= javascript_include_tag "custom/integrations/index" %>