<p>No results</p>
<div class="text-center">
  <%= image_tag("magnifier.svg", width: 160) %>
  <p class="empty-title">Oops… No results found</p>
  <p>
    Try adjusting your search or filter to find what you're looking for.
  </p>
</div>